/*-----      ----------    -----    Main    -----    ----------        -----*/

* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #333;
    scroll-behavior: smooth;
}

a {
    color: #fff;
    text-decoration: none;
}


/*-----      ----------    -----    Utility    -----    ----------        -----*/

.btn {
    display: inline-block;
    font-size: 1.3rem;
    color: #fff;
    background: #333;
    padding: 0.8rem 1rem;
    border: none;
}

.btn:hover {
    background: #555;
    color: orange;
}

.btn-light {
    display: inline-block;
    font-size: 1.3rem;
    color: orange;
    background: #555;
    padding: 0.8rem 1rem;
    border: none;
}

.btn-light:hover {
    background: orange;
    color: #555;
}

.btn-light-small {
    display: inline-block;
    font-size: 0.8.rem;
    color: white;
    background: #555;
    padding: 0.4rem 0.6rem;
    border: none;
}

.btn-light-small:hover {
    background: orange;
    color: #333;
}

.text-center {
    text-align: center;
}


/*-----      ----------    -----    dropdown    -----    ----------        -----*/

.dropbtn {
    background-color: inherit;
    color: white;
    font-size: inherit;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: inherit;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: inherit;
    color: orange;
    transition: 1s;
}


/*-----      ----------    -----    Header    -----    ----------        -----*/

#navbar {
    background: #333;
}

#navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar .container #lp {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.9rem 0.2rem;
    margin-left: 1rem;
    transition: all 1s;
}

#navbar .container #lp:hover {
    background-color: #555;
    color: black;
    transition: all 0.5s;
}

#navbar .container .text-logo {
    flex: 1;
}

#navbar .container .img-logo {
    width: 30px;
    height: 30px;
}

#navbar .container h1 {
    text-transform: uppercase;
    padding-left: 0.5rem;
}

#navbar ul li a:hover,
#navbar ul li .current {
    background-color: #555;
    color: orange;
    transition: all 0.5s ease-in-out;
}

#navbar .container ul {
    display: flex;
    padding-right: 1rem;
}

#navbar .container ul li {
    list-style: none;
    transition: all 0.5s ease-in-out;
}

#navbar .container ul li a {
    padding: 20px;
    display: block;
    transition: all 0.5s ease-in-out;
}


/*-----      ----------    -----    Section-1    -----    ----------        -----*/

#showcase .container {
    display: flex;
    flex-direction: column;
    height: 60vh;
    background: url("../immagini/palla.jpg") no-repeat center center/cover;
    background-attachment: fixed;
    background-color: #333;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #333;
}

#showcase .container h1 {
    color: #fff;
    font-size: 3rem;
    padding-bottom: 3rem;
}

#showcase .container p {
    color: #fff;
    font-size: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

.color-primary {
    color: orange;
}


/*-----      ----------    -----    Section-2    -----    ----------        -----*/

#showcase-2 .container {
    display: flex;
    height: 103vh;
}

#showcase-2 .container .image {
    display: block;
    background: url('../immagini/BN\ x\ Ail.jpeg') no-repeat center;
    background-size: 70% 100%;
    flex: 0.75;
    background-color: #333;
}

#showcase-2 .container .text {
    display: flex;
    flex: 1;
    background: #333;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#showcase-2 .container .text h1 {
    font-size: 2rem;
    padding-bottom: 1rem;
}

#showcase-2 .container .text p {
    font-size: 1.2rem;
    padding: 1rem 1rem 2rem 1rem;
    text-align: justify;
    margin-right: 1rem;
}

#showcase-2 .container .text p #ail {
    text-decoration: underline;
}

#showcase-2 .container .text p #ail:hover {
    color: orange;
}

#showcase-2 .container .text b {
    font-size: 2rem;
}

#showcase-2 .container .text #spazio {
    padding-top: 4rem;
    font-size: 1rem;
}


/*-----      ----------    -----    Section-3    -----    ----------        -----*/

#showcase-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 5vh 0;
    background-color: white;
}

.box {
    background-color: #333;
    border: 3px solid #555;
    font-size: 2.5rem;
    text-align: center;
    color: orange;
    transition: all 1s ease;
}

.box:hover {
    border: 3px solid orange;
    transition: all 1s ease;
}

.sector-name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28vw;
    height: 40vh;
    transition: all 1s ease;
}

.sector-name:hover {
    opacity: 0.2;
    width: 41vw;
    height: 50vh;
    transition: all 1s ease;
}


/*    !!!Tovare qualche cosa che va meglio di queste immagini!!!*/


/*      Qua posso inserire una JS al posto delle animazioni     */

#box-1 {
    background: url("/immagini/segnior-bw.jpg") center/cover;
    transition: background 1s;
}

#box-2 {
    background: url("/immagini/giovanili/giovanili-bw.jpg") center/cover;
    transition: background 1s;
}

#box-3 {
    background: url("/immagini/minibasket/minibasket-bw.jpg") center/cover;
    transition: background 1s;
}

#box-1:hover {
    background: url("/immagini/segnior.jpg") center/cover;
    transition: background 1s;
}

#box-2:hover {
    background: url("/immagini/giovanili/giovanili.jpg") center/cover;
    transition: background 1s;
}

#box-3:hover {
    background: url("/immagini/minibasket/minibasket.jpg") center/cover;
    transition: background 1s;
}


/*-----      ----------    -----    Next-game    -----    ----------        -----*/

#next-game {
    background-color: gray;
    background: url("/immagini/campo.jpg") center center/cover;
    /*background-attachment: fixed;*/
    color: #fff;
}

#next-game .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.team {
    display: flex;
    padding: 1rem 4rem;
    align-items: center;
    justify-content: center;
}

.team-name {
    font-size: 3rem;
    margin: 1rem 0;
}

.team-logo {
    height: 90px;
    width: 90px;
    padding: 1rem;
    margin: auto;
}

#versus p {
    font-size: 5rem;
    font-weight: bold;
    color: orange;
}

#game-info {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#game-info p {
    margin: 0 1rem;
}

#indication {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem;
}


/*-----      ----------    -----    Roaster    -----    ----------        -----*/

#roaster {
    font-size: 1rem;
    background-color: #fff;
    border-bottom: 20px solid darkgray;
}

#roaster #nome-sezione {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    background-color: darkgray;
}

.riga-giocatori {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.player {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    transition: all 1s;
}

.player-foto {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 150px;
    background: url("/immagini/icon-bb-player.jpg") center/cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 1rem 0 0.5rem 0;
    color: white;
    align-items: center;
    justify-content: center;
    transition: all 1s;
}

.player-foto:hover .overlay {
    height: 100%;
    transition: all 1s;
}

.player-foto img {
    display: block;
    height: 100%;
    width: 100%;
    color: black;
    transition: all 1s;
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /*background: url("/immagini/BN\ logo.jpeg") center/cover;*/
    background-color: black;
    overflow: hidden;
    width: 100%;
    height: 0;
    color: white;
    font-size: 1rem;
    text-align: center;
    font-weight: bolder;
    transition: 1s ease;
}

.player-foto p {
    position: absolute;
    transition: all 1s;
}

.player-name {
    padding: 0.5rem;
    margin-bottom: 1rem;
}


/*-----      ----------    -----    Sponsor-section    -----    ----------        -----*/

#sponsor-section .foto {
    background-color: #fff;
}

#sponsor-section #riga-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}

#sponsor-section #riga-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}

#sponsor-section .sponsor {
    height: 12vh;
    width: 6vw;
    padding: 0.5rem 1rem;
}

#sponsor-section .sponsor:hover {
    transform: rotateY(360deg);
    background: black;
    transition: all 1s;
}

#sponsor-section #sps-1 {
    background: url('/immagini/sponsors/bincosport.JPG') center;
    background-size: 80px 80px;
    background-repeat: no-repeat;
}

#sponsor-section #sps-2 {
    background: url('/immagini/sponsors/BSAtech.jpg') center;
    background-size: 80px 80px;
    background-repeat: no-repeat;
}

#sponsor-section #sps-3 {
    background: url('/immagini/sponsors/canellitech.jpg') center;
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

#sponsor-section #sps-4 {
    background: url('/immagini/sponsors/caponord.jpg') center;
    background-size: 60px 60px;
    background-repeat: no-repeat;
}

#sponsor-section #sps-5 {
    background: url('/immagini/sponsors/lavanderia1h.jpg') center/cover;
    background-size: 60px 60px;
    background-repeat: no-repeat;
}

#sponsor-section #sps-6 {
    background: url('/immagini/sponsors/puntobere.JPG') center/cover;
    background-size: 100px 40px;
    background-repeat: no-repeat;
}

#sponsor-section #sps-7 {
    background: url('/immagini/sponsors/sagrin.JPG') center/cover;
    background-size: 60px 60px;
    background-repeat: no-repeat;
}

#sponsor-section #sps-8 {
    background: url('/immagini/sponsors/rapetti-paolo-abbigliamenti.jpg') center/cover;
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

#sponsor-section #sps-9 {
    background: url('/immagini/sponsors/ebrille-industries.jpg') center/cover;
    background-size: 80px 80px;
    background-repeat: no-repeat;
}

#sponsor-section #sps-10 {
    background: url('/immagini/sponsors/ottica-mali.jpg') center/cover;
    background-size: 50px 50px;
    background-repeat: no-repeat;
}


/*-----      ----------    -----    Footer    -----    ----------        -----*/

#footer {
    background-color: #333;
}

#footer .container {
    display: flex;
    align-items: center;
}

#footer .container div {
    padding: 20px;
    color: white;
    display: block;
    flex: auto;
}

#footer #diritti {
    text-align: left;
}

#footer #social {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#footer #social p {
    flex: 0.3;
}

#footer #social a {
    flex: 0.1;
}

#footer #autore {
    text-align: right;
}


/*-----      ----------    -----    About    -----    ----------        -----*/


/*-----      ----------    -----    section-1-about    -----    ----------        -----*/

#section-1-about {
    background-color: black;
    color: red;
    font-size: 2rem;
    text-align: justify;
    opacity: 0.9;
}

#section-1-about .space {
    background-origin: content-box;
    height: 75vh;
}

#section-1-about #spazio-1 {
    background: url("/immagini/BN\ logo.jpeg") no-repeat center fixed;
    background-size: 30% 60%;
}

#section-1-about .container {
    color: white;
    background-color: #333;
    padding: 2rem;
}

#section-1-about #spazio-2 {
    background: url("/immagini/minibasket.jpg") no-repeat center;
    background-size: 60% 100%;
    background-attachment: fixed;
}

#section-1-about #spazio-3 {
    background: url("/immagini/palla.jpg") no-repeat center;
    background-size: 60% 100%;
    background-attachment: fixed;
}


/*-------------------------------------------------------------------------------------------------*/